* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.bg-navbar {
    background: #02002473;
}

#Quienes_Somos i {
    background-color: aqua;
    width: 100%;
    padding: 10px;
}

h2, p {
    color: white;
}

.card {
    background-color: aqua;
    height: 430px;
}

.card img {
    height: 180px;
}

.card-body, h4 {
    color: white;
}

label {
    color: silver;
    margin: 10px 0px;
}

.contact-button-inner button {
    margin: 15px 0px;
    background-color: aqua;
    color: white;
}

/*Pie de Pagina*/
.bg-footer {
    display: flex;
    background-color: aqua ;
}

.titulo-footer {
    font-size: 20px;
    color: white;
}

.bg-footer i {
    font-size: 40px;
    color: white;
}


